@media only screen and (min-width: 320px) {
    /*======== Header =========*/
    .booking {
        width: 70%;
        margin: 4rem auto 0;
    }

    .header__search,
    #header .navbar button {
        background-color: #2e383c8f;
        width: 100%;
    }

    #header .navbar {
        padding: 0 2.5rem;
    }

    .navbar-toggler {
        color: #ffffff;
    }

    .header__navbar {
        margin: 1rem 0;
    }

    #header__navbar ul li {
        padding: 0.6rem 0;
        background-color: currentcolor;
        margin: 0.4rem 0;
    }

    .navbar__search {
        padding: 0.8rem 1.5rem;
    }

    .header__contact {
        width: 100%;
        padding-left: 0;
    }

    .header__content {
        display: block;
    }

    .header__slider {
        display: none;
    }

    .header__book,
    .header__contact {
        width: 80%;
        margin: 0 auto;
    }

    .header__contact p {
        font-size: 1.5rem;
        padding-top: 2rem;
    }

    #header__navbar ul {
        width: 100%;
    }

    .header__contact .form__search button {
        width: 40%;
    }

    /* -----------------style title booking------------------------- */

    .booking__title {
        font-size: 1.3rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
        text-decoration: none;

        display: block;
        border-bottom: 1px solid black;
        padding-bottom: 0.3rem;
        margin-bottom: 3rem;
    }

    .booking__title i {
        color: rgb(246, 225, 81);
    }

    .booking__title:hover,
    .booking__title:active {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.801);
    }

    /* ----------------------------style item booking---------------------------- */

    .booking__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* ---------------------image------------------ */

    .item__image {
        cursor: pointer;
    }

    /* ----------------- content------------------------- */

    .item__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .content__title {
        color: rgba(0, 0, 0, 0.753);
        font-size: 1rem;
        text-decoration: none;
        font-weight: 500;
        text-align: center;

        margin-top: 1rem;
    }

    .content__title:hover {
        text-decoration: none;
        color: black;
    }

    .content__title:active {
        text-decoration: none;
        color: rgb(246, 225, 81);
    }

    .content__text {
        font-size: 0.8rem;
        margin: 0.8rem 0;
        color: rgba(0, 0, 0, 0.753);
        height: 4.5rem;
        overflow: hidden;
    }

    .content__button {
        width: 6rem;
        height: 2rem;
        font-size: 0.8rem;
        font-weight: 500;

        color: white;
        background-color: rgb(253, 212, 46);
        border: none;
        cursor: pointer;
        align-self: center;
    }

    .content__button:hover,
    .content__button:focus {
        background-color: rgb(218, 174, 0);
        outline: none;
        transition: all 0.3s;
    }
}

@media only screen and (min-width: 480px) {
    .header__book,
    .header__contact {
        width: 80%;
        margin: 0 auto;
    }

    .booking__title {
        font-size: 2rem;
    }

    .content__title {
        font-size: 1.4rem;
    }

    .content__text {
        font-size: 1rem;
    }

    .content__button {
        width: 7.5rem;
        height: 2.2rem;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 640px) {
    /*=======HEADER========*/
    .header__content {
        display: flex;
        width: 80% !important;
        margin: 0 auto;
    }

    #header .book__content button,
    .book__content p {
        font-size: 1rem;
    }

    .book__content p {
        padding: 0.5rem 1rem 1rem 1rem;
    }

    .header__contact p {
        padding-top: 0;
    }

    #header .navbar button {
        width: 37%;
    }

    .header__book {
        padding-right: 2rem;
    }
    /*-------*/
    .booking__title {
        font-size: 2.2rem;
    }

    .item__content {
        margin-bottom: 4rem;
    }

    .content__title {
        font-size: 1.6rem;
    }

    .content__button {
        width: 8.5rem;
        height: 2.4rem;
        font-size: 1.1rem;
    }
}

/* -------------------ipad---------------------- */

@media only screen and (min-width: 768px) {
    #header .navbar button {
        width: 15%;
    }

    #header__navbar ul li {
        padding: 0 0;
    }

    #header__navbar ul li a {
        padding: 1rem 1rem;
    }

    #header .navbar {
        padding: 0 0;
    }

    .navbar__search {
        padding: 1rem 1rem;
        width: 100%;
        background-color: transparent;
    }

    .booking__title {
        font-size: 1.7rem;
        width: 60%;
        margin: 0 auto 4rem;
    }

    .booking__item {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .booking__item:nth-child(5) {
        margin-bottom: 0;
    }

    .item__image {
        width: 35%;
        height: 9rem;
    }

    .item__image--left {
        order: 1;
    }

    .item__image--right {
        order: 2;
    }

    .item__content {
        margin: 0.3rem 0;
    }

    .item__content--left {
        margin-right: 2rem;
        order: 1;
    }

    .item__content--right {
        margin-left: 2rem;
        order: 2;
    }

    .content__title {
        font-size: 1rem;
        text-align: start;
        margin: 0;
    }

    .content__title--right {
        text-align: end;
    }

    .content__text {
        font-size: 0.8rem;
        margin: 0.3rem 0;
        height: 3.8rem;
    }

    .content__text--right {
        text-align: end;
    }

    .content__button {
        height: 2rem;
        width: 7rem;
        font-size: 0.8rem;
        align-self: flex-start;
    }

    .content__button--right {
        align-self: flex-end;
    }

    .navbar__search {
        padding: 0.6rem 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .header__content {
        display: flex;
        width: 100% !important;
        margin: 0 auto;
    }

    .header__slider {
        display: block;
    }

    #header__navbar ul li{
        background-color: transparent;
    }

    #header .navbar button {
        background-color: transparent;
    }

    .book__content {
        width: 100%;
    }

    .header__book {
        width: 45%;
    }

    #header .navbar {
        padding: 0 5.5rem;
    }

    .header__contact {
        width: 50%;
        padding-left: 2rem;
    }

    .header__book {
        width: 45%;
    }

    .booking__title {
        font-size: 2.5rem;
        width: 65%;
    }

    .booking__item {
        margin-bottom: 1rem;
    }

    .booking__item:nth-child(5) {
        margin-bottom: 0;
    }

    .item__image {
        height: 12rem;
    }

    .item__content {
        margin: 1rem 0;
    }

    .item__content--left {
        margin-right: 2rem;
    }

    .item__content--right {
        margin-left: 2rem;
    }

    .content__title {
        font-size: 1.3rem;
    }

    .content__text {
        font-size: 1rem;
        margin: 0.5rem 0;
        height: 4.5rem;
    }

    .content__button {
        height: 2.4rem;
        width: 9rem;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .booking__title {
        font-size: 2.1rem;
        width: 48%;
    }

    .booking__item {
        margin-bottom: 0rem;
    }

    .item__image {
        height: 14rem;
    }

    .content__title {
        font-size: 1.3rem;
    }

    .content__text {
        font-size: 0.9rem;
        margin: 1.5rem 0;
        height: 4.3rem;
    }

    .content__button {
        height: 2.4rem;
        width: 7.5rem;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 1400px) {
    .booking__title {
        font-size: 3rem;
        width: 55%;
    }

    .item__image {
        height: 16rem;
    }

    .content__title {
        font-size: 1.5rem;
    }

    .content__text {
        font-size: 1.2rem;
        margin: 1.5rem 0;
        height: 5rem;
    }

    .content__button {
        height: 3rem;
        width: 10rem;
        font-size: 1.1rem;
    }
}
