/*-------------------------------- style header------------------------------- */
#header {
    background-color: #1a1a1a;
}

#header__navbar ul {
    width: 34rem;
}

#header__navbar ul li a {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0 2rem ;
}

#header .navbar {
    padding: 0 5.5rem;
}

#header__navbar ul li {
    margin-bottom: 0;
}

.navbar__search {
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar-brand {
    padding-right: 3.2rem;
}

.book__content {
    background-color: #f8ca11;
    width: 34rem;
    text-align: center;
    margin-bottom: 3.5rem;
}

.book__content button{
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.8rem;
    padding-top: 0.5rem;
}

.book__content p {
    font-weight: 500;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
    flex: 1;
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1.5rem 0;
}


.header__slider {
    transform: translate(2rem, 13rem);
}
.header__contact {
    padding-left: 2rem;
}

.header__slider {
    width: 10%;
}

.header__contact p {
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    font-size: 1.3rem;
}

.header__form {
    background-color: #fefefe;
    width: 98%;
}

.header__form input{
    background-color: #e1e1e1;
    padding: 1.3rem 0.8rem;
}

.form__content {
    padding: 1rem;
}

.header__form button {
    border: none;
    width: 100%;
    text-align: left;
    background-color: #e1e1e1;
    padding: 0.7rem 0.8rem;
}

.form__content input, .form__content button {
    margin-bottom: 1rem;
}

.form__content input::placeholder, .form__content button {
    color: #1a1a1a;
    font-weight: 500;
}

.header__contact .form__search button{
    width: 30%;
    text-align: center;
    border-radius: 5px;
    background-color: #353433;
    color: #ffffff;
    font-weight: 500;
}

.header__contact .form__search {
    text-align: right;
}

.header__slider i{
    color: #1a1a1a;
    display: block;
    width: 3.2rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.header__slider i:first-child {
    border: 1px solid #f8ca11;
    padding: 1rem;
    background-color: #f8ca11;
    
}

.header__slider i:last-child {
    border: 1px solid #ffffff;
    padding: 1rem;
    background-color: #ffffff;
    margin-top: 2rem;
}

.header__book {
    width: 45%;
}

.form__search button:hover {
    background-color: #464040;
}

.header__slider i:first-child:hover {
    border: 1px solid #caaa29;
    background-color: #caaa29;
}

.header__slider i:last-child:hover {
    border: 1px solid #d6cbcb;
    background-color: #d6cbcb;
}
