@media only screen and (min-width: 320px){
    .information{
        height: 8rem;
        margin-bottom: 2rem;
        background-image: url("../images/img-6.png");
        background-repeat: no-repeat;
        background-size: cover;
    
        position: relative;
    }
    
    .information__title{
        position: absolute;
        top: 9.5%;
        left: 37%;
        font-size: .8rem;
        font-weight: 500;

        color: rgba(0, 0, 0, 0.84);
        text-decoration: none;
    }
    
    .information__title:hover, .information__title:active{
        transition: all .3s;
        top: 16%;
        color: black;
        text-decoration: none;
    }

    .information__title p{
        color: white;
        font-size: .8rem;
        line-height: 1rem;
    }
    
    .information__phone{
        position: absolute;
        top: 7%;
        right: 4%;
        width: 20%;
        height: 90%;
    
    
        background-image: url("../images/img-7.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media only screen and (min-width: 360px){
    .information{
        height: 9rem;
    }
}

@media only screen and (min-width: 375px){
    .information{
        height: 9.5rem;
    }
    
    .information__title{
        top: 8.5%;
        font-size: 1rem;
    }

    .information__title p{
        font-size: 1rem;
        line-height: 2rem;
    }
    
    .information__phone{
        top: 10%;
        height: 85%;
    }
}

@media screen and (min-width: 411px){

    .information{
        height: 10rem;
    }

    .information__phone{
        top: 12%;
    }
}

@media screen and (min-width: 640px){

    .information{
        height: 16rem;
    }

    .information__title {
        top: 10.5%;
        font-size: 1.5rem;
    }

    .information__title p {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .information__phone {
        top: 13%;
        height: 83%;
    }

}

@media screen and (min-width: 730px){
    .information {
        height: 18.5rem;
    }

    .information__title {
        top: 9%;
        font-size: 2rem;
    }

    .information__title p {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 800px){
    .information {
        height: 20rem;
    }

    .information__title {
        top: 9.5%;
        font-size: 2rem;
    }

    .information__title p {
        font-size: 2rem;
        line-height: 3rem;
    }

    .information__phone {
        top: 11%;
        height: 86%;
    }
}

@media screen and (min-width: 896px){
    .information {
        height: 22.5rem;
    }

    .information__title {
        top: 9.5%;
        font-size: 2.5rem;
    }

    .information__title p {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

@media screen and (min-width: 992px){
    .information {
        height: 25rem;
        margin-bottom: 4rem;
    }
}

@media screen and (min-width: 1112px){
    .information {
        height: 28rem;
    }
}

@media screen and (min-width: 1200px){
    .information {
        height: 30rem;
    }

    .information__title {
        top: 10.5%;
    }
}

@media screen and (min-width: 1280px){
    .information {
        height: 32rem;
    }

    .information__title {
        top: 10.5%;
    }
}

@media screen and (min-width: 1360px){
    .information {
        height: 34rem;
        margin-bottom: 5rem;
    }

    .information__title {
        top: 11.5%;
    }
}

@media screen and (min-width: 1440px){
    .information {
        height: 38rem;
    }

    .information__title {
        top: 12%;
    }

    .information__phone {
        right: 2%;
    }
}