@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /*--- taxi --- */
     #taxi .container {
        max-width: 950px;
    }

    /* ----style booking----------------- */
    .booking__title {
        font-size: 2rem;
        width: 25rem;
    }

    .item__image {
        width: 25%;
    }
    .item__content {
        width: 45%;
    }
    /* .content__text {
        margin: 1.5rem 0;
        height: 7.2rem;
    }
    .content__button {
        height: 4rem;
        font-size: 1.6rem;
        width: 13rem;
    } */
    /*------style booking-end and footer--*/
    .booking__layout {
        height: 30rem;
        /* margin-bottom: 4rem; */
    }
    .booking__content {
        font-size: 28px;
        text-align: center;
        margin-left: 14rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 80% 80%;
        margin-top: 65px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 60px;
    }
    .footer__address.col-lg-3 {
        width: 180px;
    }
    .footer__links.col-lg-3 {
        width: 180px;
    }
    .footer__followUs.col-lg-3 {
        width: 180px;
    }
    .footer__email.col-lg-3 {
        width: 180px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*--- taxi --- */
    #taxi .container {
        max-width: 620px;
    }

    /* ----style booking----------------- */
    .booking__item {
        justify-content: center;
        margin-bottom: 2rem;
    }
    .booking__title {
        font-size: 1.8rem;
        width: 22rem;
        padding: 0 2.2rem 0.5rem;
        margin-bottom: 3rem;
    }
    .item__image {
        width: 30%;
        height: 12rem;
    }
    .item__content {
        width: 50%;
    }
    
    .content__title {
        font-size: 1.3rem;
    }
    .content__text {
        font-size: 0.8rem;
        height: 4.3rem;
    }
    .content__button {
        width: 6.5rem;
        height: 2rem;
        font-size: 0.8rem;
    }
    /*------style booking-end and footer--*/
    .booking__layout {
        height: 19.3rem;
        /* margin-bottom: 45px; */
    }
    .booking__content {
        font-size: 26px;
        text-align: center;
        margin-left: 13rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 78% 78%;
        margin-top: 58px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 40px;
    }
    .footer__address.col-lg-3 {
        width: 100%;
        margin: 0;
    }
    .footer__links.col-lg-3 {
        width: 165px;
        text-align: left;
    }
    .footer__followUs.col-lg-3 {
        width: 165px;
        text-align: left;
    }
    .footer__email.col-lg-3 {
        width: 165px;
        text-align: left;
    }
    /* abc */
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    /*--- taxi --- */
    #taxi .container {
        max-width: 520px;
    }

    .taxi__content {
        width: 100%;
    }

    .content__number  {
        padding: 12px 15px;
    }

    /* ----style booking----------------- */
    .booking__title {
        font-size: 1.4rem;
        width: 16rem;
        padding: 0 1.2rem 0.5rem ;
        margin-bottom: 2rem;
    }
    .booking__item {
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .item__image {
        width: 50%;
        height: 13rem;
        order: 1;
    }
    .item__content {
        width: 65%;
        order: 2;
        margin: 1rem 0 0;
    }
    .content__title {
        font-size: 1rem;
    }
    .content__text {
        font-size: 0.8rem;
        width: 75%;
        margin: 1rem 0;
        height: 5rem;
    }

    .content__text--right{
        text-align: start;
    }

    .content__button {
        width: 6.5rem;
        height: 2rem;
        font-size: 0.8rem;
    }

    .item__image, .item__content, .content__title, .content__text, .content__button{
        align-self: center;
    }
    /*------style booking-end and footer--*/
    .booking__layout {
        height: 19rem;
        /* margin-bottom: 40px; */
    }
    .booking__content {
        font-size: 22px;
        text-align: center;
        margin-left: 11rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 80% 75%;
        margin-top: 55px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 20px;
    }
    .footer__address.col-lg-3 {
        width: 100%;
        margin: 0;
    }
    .footer__links.col-lg-3 {
        width: 130px;
        text-align: left;
    }
    .footer__followUs.col-lg-3 {
        width: 140px;
        text-align: left;
    }
    .footer__email.col-lg-3 {
        width: 130px;
        text-align: left;
    }
}

@media only screen and (min-width: 340px) and (max-width: 575px){

    /*--- taxi ---*/
    #taxi .container {
        max-width: 400px;
    }

    .taxi__item:nth-child(-n + 1) {
        margin-top: 50px;
    }

    #taxi h2,
    #taxi h2 p {
        font-size: 50px;
    }

    /* ----style booking----------------- */
    .booking__title {
        font-size: 1.4rem;
        width: 16rem;
        padding: 0 1.2rem 0.5rem ;
        margin-bottom: 2rem;
    }
    .booking__item {
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .item__image {
        width: 50%;
        height: 13rem;
        order: 1;
    }
    .item__content {
        width: 65%;
        order: 2;
        margin: 1rem 0 0;
    }
    .content__title {
        font-size: 1rem;
    }
    .content__text {
        font-size: 0.8rem;
        width: 75%;
        margin: 1rem 0;
        height: 5rem;
    }

    .content__text--right{
        text-align: start;
    }

    .content__button {
        width: 6.5rem;
        height: 2rem;
        font-size: 0.8rem;
    }

    .item__image, .item__content, .content__title, .content__text, .content__button{
        align-self: center;
    }
}
