/* Extra small devices (phones, 600px and down) */
/* 
@media only screen and (max-width: 600px) {
    .footer__address.col-lg-3 {
        width: 100%;
        margin: 0;
    }
    .footer__links.col-lg-3 {
        width: 130px;
        text-align: left;
    }
    .footer__followUs.col-lg-3 {
        width: 140px;
        text-align: left;
    }
    .footer__email.col-lg-3 {
        width: 130px;
        text-align: left;
    }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */

/* @media only screen and (min-width: 576px) and (max-width: 767px) {
    .booking__layout {
        height: 35vh;
        margin-bottom: 40px;
    }
    .booking__content {
        font-size: 22px;
        text-align: center;
        margin-left: 11rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 80% 75%;
        margin-top: 55px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 20px;
    }
    .footer__address.col-lg-3 {
        width: 100%;
        margin: 0;
    }
    .footer__links.col-lg-3 {
        width: 130px;
        text-align: left;
    }
    .footer__followUs.col-lg-3 {
        width: 140px;
        text-align: left;
    }
    .footer__email.col-lg-3 {
        width: 130px;
        text-align: left;
    }
} */

/* Medium devices (landscape tablets, 768px and up) */

/* @media only screen and (min-width: 768px) and (max-width: 991px) {
    .booking__layout {
        height: 45vh;
        margin-bottom: 45px;
    }
    .booking__content {
        font-size: 26px;
        text-align: center;
        margin-left: 13rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 78% 78%;
        margin-top: 58px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 40px;
    }
    .footer__address.col-lg-3 {
        width: 100%;
        margin: 0;
    }
    .footer__links.col-lg-3 {
        width: 165px;
        text-align: left;
    }
    .footer__followUs.col-lg-3 {
        width: 165px;
        text-align: left;
    }
    .footer__email.col-lg-3 {
        width: 165px;
        text-align: left;
    }
} */

/* Large devices (laptops/desktops, 992px and up) */

/* @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .booking__layout {
        height: 58vh;
        margin-bottom: 50px;
    }
    .booking__content {
        font-size: 28px;
        text-align: center;
        margin-left: 14rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 80% 80%;
        margin-top: 65px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 60px;
    }
    .footer__address.col-lg-3 {
        width: 180px;
    }
    .footer__links.col-lg-3 {
        width: 180px;
    }
    .footer__followUs.col-lg-3 {
        width: 180px;
    }
    .footer__email.col-lg-3 {
        width: 180px;
    }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */

/* @media only screen and (min-width: 1200px) {
    .footer__address.col-lg-3 {
        width: 240px;
    }
    .footer__links.col-lg-3 {
        width: 240px;
    }
    .footer__followUs.col-lg-3 {
        width: 240px;
    }
    .footer__email.col-lg-3 {
        width: 240px;
    }
}

@media only screen and (min-width: 1400px) {
    .bcontent_1 {
        padding-top: 80px;
    }
    .footer__address.col-lg-3 {
        width: 260px;
        margin-right: 35px;
        margin-left: 80px;
    }
    .footer__links.col-lg-3 {
        width: 260px;
    }
    .footer__followUs.col-lg-3 {
        width: 260px;
    }
    .footer__email.col-lg-3 {
        width: 260px;
    }
} */

/* style booking */
/* media screen */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /* ----style booking----------------- */
    .booking__title {
        font-size: 5.5rem;
        font-weight: 500;
        width: 41rem;
    }
    /*------style booking-end and footer--*/
    .booking__layout {
        height: 58vh;
        margin-bottom: 50px;
    }
    .booking__content {
        font-size: 28px;
        text-align: center;
        margin-left: 14rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 80% 80%;
        margin-top: 65px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 60px;
    }
    .footer__address.col-lg-3 {
        width: 180px;
    }
    .footer__links.col-lg-3 {
        width: 180px;
    }
    .footer__followUs.col-lg-3 {
        width: 180px;
    }
    .footer__email.col-lg-3 {
        width: 180px;
    }
    
     /*--- taxi --- */
    #taxi .container {
        max-width: 950px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* ----style booking----------------- */
    .booking__item {
        justify-content: center;
        margin-bottom: 2rem;
    }
    .booking__title {
        font-size: 4.5rem;
        font-weight: 500;
        width: 35rem;
        margin: 4.5rem auto;
    }
    .item__image {
        width: 40%;
        height: 21rem;
    }
    .item__content {
        width: 50%;
        align-self: flex-end;
    }
    .content__text {
        margin: 1.5rem 0;
        height: 7.2rem;
    }
    .content__button {
        height: 4rem;
        font-size: 1.6rem;
        width: 13rem;
    }
    /*------style booking-end and footer--*/
    .booking__layout {
        height: 45vh;
        margin-bottom: 45px;
    }
    .booking__content {
        font-size: 26px;
        text-align: center;
        margin-left: 13rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 78% 78%;
        margin-top: 58px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 40px;
    }
    .footer__address.col-lg-3 {
        width: 100%;
        margin: 0;
    }
    .footer__links.col-lg-3 {
        width: 165px;
        text-align: left;
    }
    .footer__followUs.col-lg-3 {
        width: 165px;
        text-align: left;
    }
    .footer__email.col-lg-3 {
        width: 165px;
        text-align: left;
    }
    
    /*--- taxi --- */
    #taxi .container {
        max-width: 620px;
    }
    /* abc */
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    /* ----style booking----------------- */
    .booking__title {
        font-size: 4.5rem;
        font-weight: 500;
        width: 68%;
        margin: 3rem auto;
        padding: 0 2rem;
        justify-content: space-evenly;
    }
    .booking__item {
        flex-direction: column;
        align-content: center;
        margin-bottom: 3rem;
    }
    .item__image {
        width: 65%;
        height: 25rem;
        order: 1;
    }
    .item__content {
        width: 65%;
        align-self: flex-end;
        order: 2;
        margin: 1rem 0 0;
    }
    .content__title {
        text-align: center;
    }
    .content__text {
        margin: 1rem 0;
        height: 7.2rem;
    }
    .content__button {
        height: 4rem;
        font-size: 1.6rem;
        width: 13rem;
        align-self: center;
    }
    /*------style booking-end and footer--*/
    .booking__layout {
        height: 35vh;
        margin-bottom: 40px;
    }
    .booking__content {
        font-size: 22px;
        text-align: center;
        margin-left: 11rem;
        text-transform: uppercase;
    }
    .booking__phone {
        background-size: 80% 75%;
        margin-top: 55px;
        margin-right: 35px;
    }
    .bcontent_1 {
        padding-top: 20px;
    }
    .footer__address.col-lg-3 {
        width: 100%;
        margin: 0;
    }
    .footer__links.col-lg-3 {
        width: 130px;
        text-align: left;
    }
    .footer__followUs.col-lg-3 {
        width: 140px;
        text-align: left;
    }
    .footer__email.col-lg-3 {
        width: 130px;
        text-align: left;
    }
    
      /*--- taxi --- */
    #taxi .container {
        max-width: 520px;
    }

    .taxi__content {
        width: 100%;
    }

    .content__number  {
        padding: 12px 15px;
    }
}

@media only screen and (min-width: 340px) and (max-width: 575px){

    /* ----style booking----------------- */

    /*--- taxi ---*/
    #taxi .container {
        max-width: 400px;
    }

    .taxi__item:nth-child(-n + 1) {
        margin-top: 50px;
    }

    #taxi h2,
    #taxi h2 p {
        font-size: 50px;
    }

}
